body {
	font-family: 'Lato', sans-serif;
	background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size:  cover;
}

.text-center {
	padding-top: 20px;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	color: #ffffff;
}

.jumbotron {
  box-sizing: border-box;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  
}

.main-button-container {
  margin-top: 175px;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}

.timer-p {
  margin-top: 40px;
}

.answer:hover {
  background: #afeeee;
}

.answer {
  padding-top: 7px;
  height: 45px;
  color: black;
  padding-left: 14px;
  background-color: white;
  border-radius: 4px;
}

.img-wrong {
  margin-top: 40px;
}

.first-answer {
  margin-top: 40px;
}

.reset-button {
  margin-top: 40px;
}

.summary-correct {
  margin-top: 40px;
}

.jumbotron {
  color: white;
  
}
















